.parallelogram-button {
    position: relative;
    width: 150px;
    height: 60px;
    transform: skewX(-025deg); /* Skew the button to create a parallelogram shape */
    background-color: #847E7E; /* Hide any content that overflows the parallelogram shape */
    border-radius: 0;
    padding: 0;
  }

  .calltoaction {
    position: relative;
    width: 150px;
    height: 60px;
    transform: skewX(-025deg); /* Skew the button to create a parallelogram shape */
    background-color: #847E7E; /* Hide any content that overflows the parallelogram shape */
    border-radius: 0;
    padding: 0;
  }
  .triangle {
    width: 0;
    height: 0;
    margin-left: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #F6F6F6;
  }

 

  .parallelogram-button > * {
    position: relative;
    transform: skewX(25deg); 
    /* Counter-skew the content to make it appear normal */
  }
  .parallelogramContainer  {
    margin-left: 0px;
    display: flex;
  align-items: center;
  }
  
  .parallelogram-button:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 0px; /* Adjust this value based on your needs */
    height: 100%;
    background-color: #847E7E; /* Match the background color of the NavBar */
    transform: skewX(-25deg); /* Skew the pseudo-element to complete the parallelogram shape */
  }
  
  .parallelogram-button:hover {
    background-color: #DA2E22;
  }
  
