.parallelogram-button {
    position: relative;
    width: 120px;
    height: 30px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
  }
  .basic-button {
    position: relative;
    width: 100px;
    height: 40px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
  }
  .externalLink-button{
    position: relative;
    width: 120px;
    height: 30px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
  }
  .parallelogram-buttonCTA {
    position: relative;
    width: 120px;
    height: 30px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
    background-color: #FB9536;
  }
  .parallelogram-buttonBlue {
    position: relative;
    width: 50%;
    height: 50px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
    background-color: rgba(9, 27, 119, 0.9);
    color: '#F6F6F6' !important ;
  }
  .parallelogram-buttonCTA-LG {
    position: relative;
    width: 238px;
    height: 40px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
    background-color: #FB9536;
  }
  .parallelogram-buttonCTA-XLG {
    position: relative;
    width: 258px;
    height: 40px;
     /* Hide any content that overflows the parallelogram shape */
     border-radius: 20px 20px 20px 20px;
    padding: 0;
    background-color: #FB9536;
  }

  .calltoaction {
    position: relative;
    width: 150px;
    height: 60px;
    transform: skewX(-025deg); /* Skew the button to create a parallelogram shape */
    background-color: #847E7E; /* Hide any content that overflows the parallelogram shape */
    border-radius: 0;
    padding: 0;
  }
  .triangle {
    width: 0;
    height: 0;
    margin-left: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #F6F6F6;
  }

 


  .parallelogramContainer  {
    display: flex;
  align-items: center;
  }
 
  .externalLink-button:hover {
    background-color: #FB9536;
  }
  .parallelogram-buttonBlue:hover {
    background-color: grey;
  }
  
  .basic-button:hover {
    background-color: #FB9536;
  }
  .parallelogram-button:hover {
    background-color: #FB9536;
  }
  .parallelogram-buttonCTA:hover {
    background-color: rgba(9, 27, 119, 0);
  }
  
