.homepage-container {
    width: 100%;
    height: 900px;
    overflow: hidden; 
    background: linear-gradient(to bottom, rgba(9, 27, 119, 1) 0%, rgba(9, 27, 119, 0) 100%);
}
.homepage-containerXG {
  width: 100%;
  height: 2500px;
  overflow: hidden; 
  background: linear-gradient(to bottom, rgba(9, 27, 119, 1) 0%, rgba(9, 27, 119, 0) 100%);
}
.setups-container{
  width: 100%;
  height: 3500px;
  overflow: hidden; 
  background: linear-gradient(to bottom, rgba(9, 27, 119, 1) 0%, rgba(9, 27, 119, 0) 100%);
}
.homepage-containerExtended {
  width: 100%;
  height: 1500px;
  overflow: hidden; 
  background: rgba(9, 27, 119, 0)100%;
}
  
  .homepage{
    width: 100%;
      height: 100%;
      overflow: hidden; 
      background: rgba(132, 126, 126, 1);
  }
  .navbar-container {
    width: 100%;
    height: 70px;
    overflow: hidden; 
    background: linear-gradient(to bottom, rgba(1, 4, 18, 1)
    0%, rgba(9, 27, 119, 1)100%);
}
.navbar-containe-reverse {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background: linear-gradient(to bottom, rgba(9, 27, 119, 1)100%, rgba(1, 4, 18, 1)
  0%);
}
.homepage-container-reverse {
  width: 100%;
  height: 900px;
  overflow: hidden; 
  background: linear-gradient(to bottom,  rgba(9, 27, 119, 0) 0%,rgba(9, 27, 119, 1) 100%);
}