.slider {
color: white !important;
background-color: #FB9536;
border-radius: 25px;
}
.warningButton {
    color: white !important;
    background-color: #FB9536;
    border-radius: 10px;
    }

    .warningButton  .css-187mznn-MuiSlider-root{
        color: white !important;
    }
.slider .css-187mznn-MuiSlider-root{
    color: white !important;
}

.sliderArray {
color: white !important;
background-color: #FB9536;
border-radius: 25px;
}

.sliderArray .css-gt9yhy-MuiSlider-root {
color: white !important;
}

.textArray {
color: white !important;
}
.divider {
color: white !important;
}
.divider .css-11lfba4-MuiDivider-root::after,.css-11lfba4-MuiDivider-root::before{
background-color: #FB9536;
height:5px;
}

.divider .css-11lfba4-MuiDivider-root::before, .css-11lfba4-MuiDivider-root::after{
    background-color: #FB9536;
    height:5px;
    }

.sliderInner{
    color: white !important;
    background-color: #FB9536;
    border-radius: 25px;
    }


    .sliderInner .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
        color: white !important;
    }

    .sliderInner .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        color: white !important;
    }

    .textBox{
        color: white !important;
background-color: #FB9536;

border-radius: 25px;
    }
  
    .textBox .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
        color: white !important;
        
    }
    
    .textBox .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
        color: white !important;
        
    }
    .textBox .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
        color: white !important;
        
    }
    .textBox .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
        color: white !important;
        
    }
    .textBox .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
        border-color: white !important;
        border-radius:25px;
    }
     .textBox .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill{
        border-color: white !important;
        border-radius:25px;
    }
    .textBox .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-internal-autofill-selected{
        background-color: red !important;
    }